.product-card {
 box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
 position: relative;
 height: 100%;
 .sale-img {
  position: absolute;
  width: 50%;
  top: -8%;
  left: -2%;
 }
}
